/*
Copyright 2023 : Utilars™ and Shawn Eary
Licensed via FCML : https://www.utilars.com/Home/FCML

See [1] for Grid Layout
*/
/* See [1] for Grid Layout */
.wrapperApp {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.TOC-Short {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: aqua;
}

.Home {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Reserved1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Reserved2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.body {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.prev {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.attrib {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.next {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
